<span style='font-size: 40px;color:#FF6600'>QREDIC ".date("Y")."</span>
<br><strong><p>Evaluation du fournisseur ". $user["fournisseur"]." </strong> <br><br>
<span>Bonjour ". $user["nomComplet"].", </span> <br>
<span>Vous avez été sélectionné pour évaluer le fournisseur <strong> ". $user["fournisseur"]."  </strong> </span> <br>
<strong>Rappel: </strong> <br>
<span>Votre nom d'user : ". $user["username"]." </span> <br>
<span><strong>Pour acceder à l'application QREDIC, </strong><a style='color: #FF6600' href='http://qredic.orange-sonatel.com'> cliquez ici </a>!</span><br>
</p>
